spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eduglobal_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 1234
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
